{% extends 'base.html.twig' %}

{% block title %}Inscription ToolSwap{% endblock %}

{% block body %}
<section class="vh-100 gradient-custom d-flex justify-content-center align-items-center">
    <div class="container py-0"> <!-- Remove py-5 and use py-0 for no padding -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px; padding: 3rem;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center fw-bold" >Deviens ToolSwapper!</h3>

                        <!-- Display errors -->
                        {{ form_errors(registrationForm) }}

                        <form method="post" enctype="multipart/form-data">
                            {{ form_start(registrationForm) }}
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    {{ form_row(registrationForm.firstName, {
                                        'label': 'Prénom',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                                <div class="col-md-6 mb-4">
                                    {{ form_row(registrationForm.lastName, {
                                        'label': 'Nom',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    {{ form_row(registrationForm.email, {
                                        'label': 'Email',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                                <div class="col-md-6 mb-4">
                                    {{ form_row(registrationForm.phoneNumber, {
                                        'label': 'Téléphone',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                            </div>

<div class="row">
    <div class="col-md-6 mb-4">
        {{ form_row(registrationForm.community, {
            'label': 'Commune',
            'attr': {'class': 'form-control form-control-lg'}
        }) }}
    </div>

    <div class="col-md-6 mb-4">
        <div class="d-flex align-items-center">
            <label class="form-label me-2" for="{{ registrationForm.image.vars.id }}" style="margin-bottom: 0; white-space: nowrap;">Image de profil</label>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
                <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
            </svg>
        </div>
        {{ form_widget(registrationForm.image, {
            'attr': {'class': 'form-control form-control-lg'}
        }) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-4">
        {{ form_row(registrationForm.plainPassword, {
            'label': 'Mot de passe',
            'attr': {'class': 'form-control form-control-lg'}
        }) }}
    </div>
</div>



                            <div class="mt-4 pt-2 text-center">
                                <button type="submit" class="btn" style="background-color: #ff8719; color: white; font-weight: bold; ">S'inscrire</button>
                            </div>
                            {{ form_end(registrationForm) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>

.icon {
    width: 16px;  /* Adjust width as needed */
    height: 16px;
    fill: gray;
    margin-bottom: 5px;
}

.icon:hover {
    fill: #ff8719;
}



    </style>
{% endblock %}
