{% extends 'base.html.twig' %}

{% block title %}Search Tools
{% endblock %}

{% block body %}
	<h1>Search Tools</h1>

	{% if tools is not empty %}
		<h2>Search Results:</h2>
		<ul>
			{% for tool in tools %}
				<img src="{{ tool.imageTool }}" alt="{{ tool.name }}" style="width: 200px; height: 200px;"/>
				<h3>{{ tool.name }}</h3>
				<p>{{ tool.owner.community }}</p>
				<p>
					{% if tool.priceDay == 0 %}
						<strong>gratuit</strong>
					{% else %}
						<strong>{{ tool.priceDay }}
							€
						</strong>/ jour
					{% endif %}
				</p>
				<h6>
					<a href="{{ path('tool_display_single', {'tool_id': tool.id}) }}">voir outil</a>
				</h6>
				<br><br>
			{% endfor %}
		</ul>
	{% else %}
		<p>No tools found.</p>
	{% endif %}
{% endblock %}
