{% extends 'base.html.twig' %}

{% block title %}Ajouter disponibilités {{ tool.name }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar_empty') }}
{% endblock %}

{% block body %}
    <h1>Ajouter disponibilités</h1>
    <p>Clicker sur les dates de disponibilités</p>
    <p>Re-cliquer pour effacer</p>

    <div id="availabilityCalendar" 
         data-tool-id="{{ tool.id }}" 
         data-tool-name="{{ tool.name }}" 
         data-calendar=""  
         class="calendar"></div> 

<button id="confirmAvailabilities" class="btn btn-primary">Confirmer disppnibilités</button>
{% endblock %}
