{% extends "base.html.twig" %}

{% block title %}ToolSwap{% endblock %}


{% block body %}

<h2>Tout les outils</h2>

<!-- Filter Form -->
<form method="post" action="{{ path('tool_display_all') }}">
    {{ form_start(form) }}
    {{ form_row(form.category) }}
    {{ form_row(form.community) }}
    {{ form_row(form.isFree) }}
    <button type="submit">Filter</button>
    {{ form_end(form) }}
</form>



<div class="tool-list">
    {% for tool in tools %}
        <div class="tool-item">
            <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" style="width: 200px; height: 200px;" />            
            <h3>{{ tool.name }}</h3>
            <p>{{ tool.owner.community }}</p>
            <p><strong>{{ tool.priceDay }}</strong> €/jour</p>
            <h6><a href="{{ path('tool_display_single', {'tool_id': tool.id}) }}">See more</a> </h6>
            <br><br>
            <br><br>
            

        </div>
    {% endfor %}
</div>


{% endblock %}