{% extends "base.html.twig" %}

{% block title %}ToolSwap
{% endblock %}


{% block body %}

	<h2>Tous les outils</h2>

	<!-- Filter Form -->
	<form method="post" action="{{ path('tool_display_all') }}">
		{{ form_start(form) }}
        <div class="col-md-3 mb-3">
            {{ form_row(form.category, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="col-md-3 mb-3">
            {{ form_row(form.community, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="col-md-2 mb-3">
            {{ form_row(form.isFree, { 'attr': { 'class': 'form-check-input' } }) }}
        </div>
		{{ form_row(form.search) }}
		{{ form_end(form) }}

	</form>

	<!-- Custom Reset Button -->
	<a href="{{ path('tool_display_all') }}">
		<button type="submit" name="reset" value="1" class="btn btn-secondary">Ré-initialiser</button>
	</a>
	<br>
	<br>

<!-- Tool Cards -->
<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    {% for tool in tools %}
    <div class="col-md-3 mb-4">
        <div class="card shadow-sm">
            <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" class="card-img-top" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ tool.name }}</h5>
                <p class="card-text">{{ tool.owner.community }}</p>
                <p class="card-text">
                    {% if tool.priceDay == 0 %}
                        <strong><span style="color:#ff8719;">GRATUIT</span></strong>
                    {% else %}
                        <strong>{{ tool.priceDay }} €</strong> / jour
                    {% endif %}
                </p>
                <a href="{{ path('tool_display_single', {'tool_id': tool.id}) }}" class="btn btn-custom-orange">+</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}
