{% extends "base.html.twig" %}

{% block title %}
	{{ tool.name }}
{% endblock %}


{% block body %}

	<h1>{{ tool.name }}</h1>

	<div class="tool-detail">
		<img src="{{ tool.imageTool }}" alt="{{ tool.name }}" style="width: 200px; height: 200px;">
		<p>
			<em>{{ tool.owner.community }}</em>
		</p>
		<p>
			<strong>état:
			</strong>
			{{ tool.toolCondition }}</p>
		<p>{{ tool.description }}</p>
		<p>
			<strong>{{ tool.priceDay }}</strong>
			€ / jour</p>
	</div>

	{% if isOwner %}
		<a href="{{ path('tool_update', {'tool_id': tool.id}) }}">
			<button id="btnToolUpdate" type="button">modifier détails</button>
		</a>
		<a href="{{ path('tool_availability_update', {'tool_id': tool.id}) }}">
			<button id="btnToolUpdate" type="button">modifier disponibilités</button>
		</a>
		<a href="{{ path('tool_delete', {'tool_id': tool.id}) }}">
			<button id="btnToolDelete" type="button">supprimer</button>
		</a>

	{% else %}

		<a href="{{ path('tool_borrow_calendar', {'tool_id': tool.id}) }}">
			<button id="btnBorrowTool2" type="button">Emprunter</button>
		</a>

	{% endif %}


	<br><br>
	<br><br>
	<h2> Commentaires</h2>


	{% if toolReviews  %}

		{% for toolReview in toolReviews %}

			<a href="{{ path('user_profile', {'user_id': toolReview.reviewerId}) }}"><strong>{{ toolReview.reviewer }}</strong></a> | {{ toolReview.rating }}/ 5
			<p>{{ toolReview.comment }}</p>
            <br><br>


		{% endfor %}

	{% else %}

		L'outil n'a pas encore de commentaires.

	{% endif %}


{% endblock %}
