{% extends "base.html.twig" %}

{% block title %}Disponibilités {% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}

{% block body %}

<h2>Dispobilités de tes outils <em>{{ app.user.firstName }}</em></h2>

<div id="availabilityCalendar" data-calendar='{{ toolAvailabilitiesJSON|raw }}' class="calendar"></div> 


{{ dump(toolAvailabilitiesJSON) }}

<script>
  var toolAvailabilities = {{ toolAvailabilitiesJSON|raw }};
  console.log(toolAvailabilities);  // Check the data structure
</script>


{% endblock %}