{% extends "base.html.twig" %}

{% block title %}{{ tool.name }}{% endblock %}


{% block body %}

 <h1>{{ tool.name }}</h1>

    <div class="tool-detail">
        <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" style="width: 200px; height: 200px;">
        <p> <em>{{ tool.owner.community }}</em></p>
        <p> <strong>état: </strong>{{ tool.toolCondition }}</p>
        <p>{{ tool.description }}</p>
        <p><strong>{{ tool.priceDay }}</strong> € / jour</p>
    </div>

    {% if isOwner %}
        <a href="{{ path('tool_update', {'tool_id': tool.id}) }}">
            <button id="btnToolUpdate" type="button">modifier détails</button>
        </a>
        <a href="{{ path('tool_availability_update', {'tool_id': tool.id}) }}">
            <button id="btnToolUpdate" type="button">modifier disponibilités</button>
        </a>
        <a href="{{ path('tool_delete', {'tool_id': tool.id}) }}">
            <button id="btnToolDelete" type="button">supprimer</button>
        </a>

    {% else %}
        <button id="btnAlerts" type="button">Recevoir notifications</button>
        <a href="{{ path('tool_borrow', {'tool_id': tool.id}) }}">
            <button id="btnBorrowTool1" type="button">Emprunter normal</button>
        </a>
            <a href="{{ path('tool_borrow_calendar', {'tool_id': tool.id}) }}">
            <button id="btnBorrowTool2" type="button">Emprunter calendrier</button>
        </a>
            </a>
            <a href="{{ path('display_tool_calendar', {'tool_id': tool.id}) }}">
            <button id="btnBorrowTool3" type="button">Disponibilités</button>
        </a>
    {% endif %}


<br><br>
<br><br>


    <h2> Commentaires </h2>
    <ul>
        <li> bientot </li>
         <li> bientot </li>
          <li> bientot </li>
           <li> bientot </li>
    </ul>
            




{% endblock %}