{% extends 'base.html.twig' %}

{% block title %}Modifier outil{% endblock %}

{% block body %}
<section class="vh-100 gradient-custom d-flex justify-content-center align-items-center">
    <div class="container py-0">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px; padding: 1rem;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center fw-bold">Modifier outil</h3>

                        <!-- Display errors -->
                        {{ form_errors(form) }}

                        <form method="post" enctype="multipart/form-data">
                            {{ form_start(form) }}

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    {{ form_row(form.name, {
                                        'label': 'Nom de l\'outil',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                                <div class="col-md-6 mb-4">
                                    {{ form_row(form.toolCondition, {
                                        'label': 'État de l\'outil',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    {{ form_row(form.description, {
                                        'label': 'Description',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    {{ form_row(form.priceDay, {
                                        'label': 'Prix par jour (€)',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                                <div class="col-md-6 mb-4">
                                    {{ form_row(form.imageTool, {
                                        'label': 'Image de l\'outil',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    {{ form_row(form.toolCategory, {
                                        'label': 'Catégorie',
                                        'attr': {'class': 'form-control form-control-lg'}
                                    }) }}
                                </div>
                            </div>

                            <div class="mt-4 pt-2 text-center">
                                <input type="submit" class="btn" style="background-color: #ff8719; color: white; font-weight: bold;" value="modifier">
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
