{% extends "base.html.twig" %}

{% block title %}Mes emprunts{% endblock %}

{% block body %}

<h2>Mes emprunts</h2>

    {% if borrowTools == null %}
        <p> Vous n'avez pas encore emprunté d'outils. </p>
        <a href=" {{ path ('tool_display_all')}}">
            <button type="button">Rechercher outil</button>
        </a>

    {% else %}

        <div class="tool-list">
            {% for borrowTool in borrowTools %}
                <div class="tool-item">
                    <h3>{{ borrowTool.tool }}</h3>
                    <h4>Période</h4>
                    {% if borrowTool.days > 1 %}
                        <p> {{ borrowTool.days }} jours </p> 
                        <p><strong>Début:</strong> {{ borrowTool.start }}</p>
                         <strong>Fin:</strong> {{ borrowTool.end }}</p>
                    {% else %}
                        <p> {{ borrowTool.days }} jour </p>
                        <p><strong>Début:</strong> {{ borrowTool.start }} </p>

                    {% endif %}
                    <p><strong>Statut:</strong> {{ borrowTool.status }} </p>


                    <a href="">
                        <button type="button">commenter</button>
                    </a>
                    <a href="">
                        <button type="button">modifier statut</button>
                    </a>
                    <a href="">
                        <button type="button">voir outil</button>
                    </a>

                    <br><br>
                    <br><br>
                </div>
            {% endfor %}
        </div>

    {% endif %}


{% endblock %}
