{% extends "base.html.twig" %}

{% block title %}Mes emprunts
{% endblock %}

{% block body %}

<!-- Fixed Title Section with Buttons -->
<div>
    <h2>Mes emprunts</h2>
    <div>
        <a href="#active-borrow" class="btn btn-custom-orange" style="width: auto;">Emprunts actifs</a>
        <a href="#completed-borrow" class="btn btn-custom-orange" style="width: auto; background-color: darkgrey !important;">Emprunts passés</a>
    </div>
</div>
<br>

	{% if borrowTools is empty %}
		<p>
			Vous n'avez pas encore emprunté d'outils.
		</p>
		<a href="{{ path('tool_display_all') }}">
			<button type="button">Rechercher outil</button>
		</a>

	{% else %}
	

		<div
			class="tool-list">
			<!-- Active tools section (Pending) -->
			    <div id="active-borrow">

			<h3>
				<strong>Emprunts actifs</strong>
			</h3>
			{% for borrowTool in borrowTools %}
				{% if borrowTool.status == "pending" %}
					<div class="tool-item">
						<h3>{{ borrowTool.tool }}
							<span style="font-size: 12px;">| Appartient à
								<a href="{{ path('user_profile', {'user_id': borrowTool.ownerId}) }}">
									<strong>{{ borrowTool.owner }}</strong>
								</a>
							</span>
						</h3>

						{% if borrowTool.isDisabled %}
							<p style="font-size: 12px;">
								<strong>Plus disponible<br><strong></p>
								{% endif %}

								{% if borrowTool.days > 1 %}
									<p>
										<strong>Durée:</strong>
										{{ borrowTool.days }}
										jour(s)
									</p>
									<p>
										<strong>Début:</strong>
										{{ borrowTool.start }}
									</p>
									<p>
										<strong>Fin:</strong>
										{{ borrowTool.end }}
									</p>
								{% else %}
									<p>
										<strong>Durée:</strong>
										{{ borrowTool.days }}
										jour
									</p>
									<p>
										<strong>Début:</strong>
										{{ borrowTool.start }}
									</p>
								{% endif %}
							</p>
							<p>
								<strong>Statut:</strong>
								{{ borrowTool.status }}</p>

							<button type="button" onclick="location.href='{{ path('coming_soon') }}'">
								modifier statut
							</button>

							<button type="button" onclick="location.href='{{ path('tool_display_single', {tool_id: borrowTool.toolId }) }}'" {% if borrowTool.isDisabled %} disabled title="L'outil a été supprimé par l'utilisateur" {% endif %}>
								voir outil
							</button>

							<br><br><br>
						</div>
					{% endif %}
				{% endfor %}

				<!-- Completed tools section (Completed) -->
				    <div id="completed-borrow">

				<br><br><br><br><br><br><br>
				</div>
				<h3>
					<strong>Emprunts complétés</strong>
				</h3>
				{% for borrowTool in borrowTools %}
					{% if borrowTool.status == "completed" %}
						<div class="tool-item">
							<h3>{{ borrowTool.tool }}
								<span style="font-size: 12px;">| Appartient à
									<a href="{{ path('user_profile', {'user_id': borrowTool.ownerId}) }}">
										<strong>{{ borrowTool.owner }}</strong>
									</a>
								</span>
							</h3>

							{% if borrowTool.isDisabled %}
								<p style="font-size: 12px;">
									<strong>Plus disponible<br><strong></p>
									{% endif %}

									{% if borrowTool.days > 1 %}
										<p>
											<strong>Durée:</strong>
											{{ borrowTool.days }}
											jour(s)
										</p>
										<p>
											<strong>Début:</strong>
											{{ borrowTool.start }}
										</p>
										<p>
											<strong>Fin:</strong>
											{{ borrowTool.end }}
										</p>
									{% else %}
										<p>
											<strong>Durée:</strong>
											{{ borrowTool.days }}
											jour
										</p>
										<p>
											<strong>Début:</strong>
											{{ borrowTool.start }}
										</p>
									{% endif %}
								</p>
								<p>
									<strong>Statut:</strong>
									{{ borrowTool.status }}</p>

								{% if borrowTool.status == "completed" %}
									<button type="button" onclick="location.href='{{ path('tool_review_add', {tool_id: borrowTool.toolId }) }}'">
										commenter outil
									</button>
								{% endif %}

								<button type="button" onclick="location.href='{{ path('coming_soon') }}'" {% if borrowTool.status == "completed" %} disabled {% endif %}>
									modifier statut
								</button>

								<button type="button" onclick="location.href='{{ path('tool_display_single', {tool_id: borrowTool.toolId }) }}'" {% if borrowTool.isDisabled %} disabled title="L'outil a été supprimé par l'utilisateur" {% endif %}>
									voir outil
								</button>

								<br><br><br>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			</div>

		{% endblock %}
