{% extends 'base.html.twig' %}

{% block title %}Emprunter
	{{ tool.name }}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('calendar_select') }}
{% endblock %}


{% block body %}
<div class="container mt-5">
    <!-- Tool Display Section -->
    <div class="card mb-4 shadow-lg border-0">
        <div class="row g-0">
            <!-- Tool Image -->
            <div class="col-md-5">
                <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" class="img-fluid rounded-start w-100 h-100" style="object-fit: cover;">
            </div>
            <!-- Tool Details -->
            <div class="col-md-7 d-flex flex-column">
                <div class="card-body flex-grow-1">
                    <h1 class="card-title mb-3">{{ tool.name }}</h1>
                    <p class="card-subtitle text-muted mb-2"><em>{{ tool.owner.community }}</em></p>
                    <p class="card-text mb-2"><strong>État:</strong> {{ tool.toolCondition }}</p>
                    <p class="card-text mb-3">{{ tool.description }}</p>
                    
                    {% if tool.priceDay == 0 %}
                        <p class="card-text-orange"><strong>gratuit</strong></p>
                    {% else %}
                        <p class="card-text"><strong>{{ tool.priceDay }} € / jour</strong></p>
                    {% endif %}
					
                </div>
                <!-- Action Buttons, Bottom-Aligned -->
                <div class="card-footer bg-white border-0 mt-auto pb-4">
                    <div class="d-flex flex-column w-100">
                            <!-- Left Aligned Buttons on the Same Line -->
                            <div class="d-flex">
                                <a href="" class="btn reset-filter-button align-self-start mb-3 ms-3">Recevoir Notifications</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





	<br><br>
	<h2>Emprunter push</h2>

	<div id="availabilityCalendar" 
		data-calendar='{{ toolAvailabilitiesJSON|raw }}' 
		data-tool-id="{{ tool.id }}" 
		data-tool-name="{{ tool.name }}" 
		class="calendar"></div>

	<button id="confirmLink" class="btn btn-primary">Confirmer</button>
    <button id="btnCheck2" class="btn btn-primary">Console check</button>




	 <script>
		var toolAvailabilities = {{ toolAvailabilitiesJSON|raw }};
		console.log('tool availabilities from view:', toolAvailabilities); // Check the data structure
	</script>


{% endblock %}
