{% extends "base.html.twig" %}

{% block title %}Mes prêts
{% endblock %}

{% block body %}

	<div>
	<h2>Mes prêts</h2>
    <div>
        <a href="#active-borrow" class="btn btn-custom-orange" style="width: auto;">Prêts actifs</a>
        <a href="#completed-borrow" class="btn btn-custom-orange" style="width: auto; background-color: darkgrey !important;">Prêts passés</a>
    </div>
</div>
<br>

	{% if borrowTools is empty %}
		<p>Vous n'avez pas encore prêté d'outils.</p>
	{% else %}
		<div
			class="tool-list">

			<!-- Active Tools (Pending) Section -->
						    <div id="active-borrow">

			<h3>
				<strong>Prêts actifs</strong>
			</h3>
			{% for borrowTool in borrowTools %}
				{% if borrowTool.status == "pending" %}
					<div class="tool-item">
						<h3>{{ borrowTool.tool }}
							<span style="font-size: 12px;">| Prêté à
								<a href="{{ path('user_profile', {'user_id': borrowTool.userBorrowerId}) }}">
									<strong>{{ borrowTool.userBorrower }}</strong>
								</a>
							</span>
						</h3>

						<p>
							<strong>Durée:</strong>
							{{ borrowTool.days }}
							jour(s)</p>
						<p>
							<strong>Début:</strong>
							{{ borrowTool.start }}</p>
						<p>
							<strong>Fin:</strong>
							{{ borrowTool.end }}</p>

						<p>
							<strong>Statut:</strong>
							{{ borrowTool.status }}</p>

							<button type="button" onclick="location.href='{{ path('coming_soon') }}'">
								modifier statut
							</button>
						<button type="button" onclick="location.href='{{ path('tool_display_single', {tool_id: borrowTool.toolId }) }}'" {% if borrowTool.isDisabled %} disabled title="L'outil n'est plus disponible" {% endif %}>
							voir outil
						</button>

						<br><br><br>
					</div>
				{% endif %}
			{% endfor %}
			</div>

			<!-- Completed Tools Section -->
			<div id="completed-borrow">
			<br><br><br><br><br><br>
							    

			<br>
			<h3>
				<strong>Prêts complétés</strong>
			</h3>
			{% for borrowTool in borrowTools %}
				{% if borrowTool.status == "completed" %}
					<div class="tool-item">
						<h3>{{ borrowTool.tool }}
							<span style="font-size: 12px;">| Prêté à
								<a href="{{ path('user_profile', {'user_id': borrowTool.userBorrowerId}) }}">
									<strong>{{ borrowTool.userBorrower }}</strong>
								</a>
							</span>
						</h3>

						<p>
							<strong>Durée:</strong>
							{{ borrowTool.days }}
							jour(s)</p>
						<p>
							<strong>Début:</strong>
							{{ borrowTool.start }}</p>
						<p>
							<strong>Fin:</strong>
							{{ borrowTool.end }}</p>

						<p>
							<strong>Statut:</strong>
							{{ borrowTool.status }}</p>

						{% if borrowTool.status == "completed" %}
							<button type="button" onclick="location.href='{{ path('lender_reviews_left_display', {user_id: borrowTool.userBorrowerId }) }}'">Avis</button>
							<button type="button" onclick="location.href='{{ path('lender_review_add', {user_id: borrowTool.userBorrowerId }) }}'">commenter</button>
						{% endif %}

						<button type="button" onclick="location.href='{{ path('coming_soon') }}'" {% if borrowTool.status == "completed" %} disabled {% endif %}>
							modifier statut
						</button>

						<button type="button" onclick="location.href='{{ path('tool_display_single', {tool_id: borrowTool.toolId }) }}'" {% if borrowTool.isDisabled %} disabled title="L'outil n'est plus disponible" {% endif %}>
							voir outil
						</button>

						<br><br><br>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	</div>
{% endblock %}
