<footer class="bg-light py-4 mt-auto">
    <div class="container text-center">
        <!-- Branding -->
        <a href="{{ path('tool_display_all') }}" class="fw-bold fs-4 text-dark text-decoration-none">
            TOOLSWAP©
        </a>

        <!-- Links -->
        <div class="d-flex flex-wrap justify-content-center gap-3 mt-3">
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none ">À propos</a>
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none hover-line">Contactez-nous</a>
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none hover-line">FAQ</a>
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none hover-line">Conditions d'utilisation</a>
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none hover-line">Politique de confidentialité</a>
        </div>


        <!-- Social Media Links -->
        <div class="mt-3 text-muted">
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none me-2 hover-line">Facebook</a>
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none me-2 hover-line">Twitter</a>
            <a href="{{ path('coming_soon') }}" class="text-muted text-decoration-none hover-line">Instagram</a>
        </div>
    </div>
</footer>

<style>

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
