<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #ff8719;">
    <div class="container-fluid">
        {# Logo and Search Bar #}
        <a class="navbar-brand fw-bold text-white" href="{{ path('tool_display_all') }}" style="font-size: 22px;">TOOLSWAP©</a>

        <form class="d-flex ms-3" action="{{ path('tool_search') }}" method="get">
            <input class="form-control me-2" type="search" placeholder="Aujourd'hui je cherche.." aria-label="Search" name="keyword" required>
            <button class="btn btn-outline-light custom-go-button" type="submit">Go!</button>
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {# Links for Admins #}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link text-white hover-line right-border fw-bold" href="{{ path('tool_upload') }}">⇡ Outils</a>
                    </li>
                    <li><hr class="dropdown-divider bg-white"></li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-line fw-bold" href="{{ path('tool_display_user') }}">Mes Outils</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-line fw-bold" href="{{ path('tool_borrow_display') }}">Mes Emprunts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-line fw-bold" href="{{ path('tool_borrow_lending_display') }}">Mes Prêts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-line fw-bold" href="{{ path('my_profile') }}">Profil</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white hover-line fw-bold" href="{{ path('register') }}">S'inscrire</a>
                    </li>
                {% endif %}

                {# Connection/Deconnection links #}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark text-white mx-2 prominent-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark text-white mx-2 prominent-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
