<nav>
    {# liens sans connexion #}
    <a href=" {{ path ('tool_display_all')}}">Rechercher</a>
    {# liens pour l'admin #}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path ('tool_upload')}}">+ Objet</a>
        <a href="">Profil</a>
    {% else %}
        <a href=" {{ path ('register')}} ">S'inscrire</a>
    {% endif %}

    {# liens pour tout user#}
    {% if app.user %}
        <a href=" {{ path ('app_logout')}} ">Déconnexion</a>
    {% else %}
        <a href=" {{ path ('app_login')}} ">Connexion</a>
    {% endif %}
    
</nav>