<nav>
    {# liens sans connexion #}
    <a href="{{ path('tool_display_all') }}" style="color: black; font-weight: bold; font-size: 18px;text-decoration: none">TOOLSWAP©</a>      
    {# Search Bar in Navigation #}
    <form class="form-inline" action="{{ path('tool_search') }}" method="get" style="display: inline;">
        <input class="form-control mr-2" type="search" placeholder="Search tools" aria-label="Search" name="keyword" required>
        <button class="btn btn-outline-success" type="submit">Go</button>
    </form>
    {# liens pour l'admin #}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path ('tool_upload')}}">+ Outils</a> |
        <a href="{{ path ('tool_display_user')}}">Mes Outils</a> |
        <a href="{{ path ('tool_borrow_display')}}">Mes Emprunts</a> |
        <a href="{{ path ('tool_borrow_lending_display')}}">Mes Prêts</a> |
        <a href="">Profil</a> |
    {% else %}
        <a href=" {{ path ('register')}} ">S'inscrire</a>
    {% endif %}

    {# liens pour tout user#}
    {% if app.user %}
        <a href=" {{ path ('app_logout')}} ">Déconnexion</a>
    {% else %}
        <a href=" {{ path ('app_login')}} ">Connexion</a>
    {% endif %}
    
</nav>