{% extends 'base.html.twig' %}

{% block title %}{{ tool.name }} Avis{% endblock %}

{% block body %}

    <h2>{{ tool.name }} | Avis</h2>

    <div class="tool-list">
            <div class="tool-item">
                <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" style="width: 200px; height: 200px;" />            

            </div>  
    </div>
    <ul>
    {% for toolReview in toolReviews %}

        <li>

        <h4>            			<a href="{{ path('user_profile', {'user_id': toolReview.reviewerId}) }}">
				<strong>{{ toolReview.reviewer }}</strong>
			</a>| {{ toolReview.rating }} / 5</H4>
        <p>{{ toolReview.comment }}</p>
        </li>

    {% endfor %}
    <ul>
    
    <a href="{{ path('tool_display_user', {'tool_id': tool.id}) }}">
        <button type="button">retour</button>
    </a>

{% endblock %}
