{% extends "base.html.twig" %}

{% block body %}

<h2>Single tool page</h2>

    <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" />            
    <h3>{{ tool.name }}</h3>
    <p>{{ tool.owner.community }}</p>
    <p>{{ tool.description }}</p>
    <h5>état: {{ tool.toolCondition }}</h5>
    <p><strong>{{ tool.priceDay }}</strong></p> 
    <h6><a href="">Emprunter</a> </h6>
    <button id="btnAlerts" type="button">Recevoir notifications</button>
    <button id="btnBorrowTool" type="button">Emprunter</button>



<br><br>
<br><br>
            




{% endblock %}