{% extends "base.html.twig" %}

{% block body %}

<h2>Tout les outils</h2>

<div class="tool-list">
    {% for tool in tools %}
        <div class="tool-item">
            <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" style="width: 200px; height: 200px;" />            
            <h3>{{ tool.name }}</h3>
            <p>{{ tool.owner.community }}</p>
            <p><strong>{{ tool.priceDay }}</strong></p> 
            <h6><a href="{{ path('tool_display_single', {'tool_id': tool.id}) }}">See more</a> </h6>

            <br><br>
            <br><br>
            

        </div>
    {% endfor %}
</div>


{% endblock %}