{% extends "base.html.twig" %}

{% block title %}
    Profil {{ user.firstName }}
{% endblock %}

{% block body %}

    <h2>{{ user.firstName }}</h2>

    <strong>Commune:</strong> {{ user.community }} <br>
    <strong>{{ borrowedToolsCount }}</strong> emprunt(s) <br>
    <strong>{{ lentToolsCount }}</strong> prêt(s) <br>
     <strong>{{ toolsOwnedByOwnerCount }}</strong> outil(s) disponible(s)<br>

    {% if freeToolsOwnedByOwnerCount != 0 %}
        <strong>{{ freeToolsOwnedByOwnerCount }}</strong> outils gratuitement disponibles<br>
    {% endif %}
    <br>

    <h3>Avis</h3>
        {% if reviews|length > 0 %}
            
                {% for review in reviews|slice(0, 3) %}
                        <a href="{{ path('user_profile', {'user_id': review.userLeavingReview.id}) }}"><strong>{{ review.userLeavingReview.firstName }}</strong></a> | {{ review.rating }} / 5<br>
                        {{ review.comments }}
                        <br><br>
                {% endfor %}
            
            {% if reviews|length > 3 %}
                <a href="">Voir plus</a>
            {% endif %}
        {% else %}
            <p>Pas d'avis disponibles pour cet utilisateur.</p>
        {% endif %}
    <br>

    <h3>Outils</h3>
    {% if tools|length > 0 %}
        {% for tool in tools|slice(0, 3) %}
            <div class="tool-item">
                <img src="{{ tool.imageTool }}" alt="{{ tool.name }}" style="width: 200px; height: 200px;"/>
                <h4>{{ tool.name }}</h4>
                <p>
                    <strong>{{ tool.priceDay }}</strong> € / jour
                </p>
                <h5>
                    <a href="{{ path('tool_display_single', {'tool_id': tool.id}) }}">détails</a>
                </h5>
            </div>
        {% endfor %}
        {% if tools|length > 3 %}
            <a href="">Voir tout ses outils</a>
        {% endif %}
    {% else %}
        <p>L'utilisateur n'a pas encore partagé d'outils.</p>
    {% endif %}

{% endblock %}
